/* Logo Habitat76 */
.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 50%;
    width: 50%;
}

#dateMaj {
  font-size: 11px;
}

/* Rend le panel de l'accordéon clickable */
.accordion-toggle {
    display: block;
}

/* Supprime la propriété underline des liens de l'accordeon */
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    text-decoration: none;
}

/* Cache le template servant de base à l'accordéon */
.template {
    display: none;
}

/* Cache le template servant de base au système d'onglet */
.tab {
    display: none;
}

/* Ecartement de l'accordéon */
#accordion {
    padding: 5px;
}

/* Marge et écartement des informations et du bouton "Consulter" */
#divDetail, #btnDetail {
    margin: 5px;
    padding: 5px;
}
